@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik-Light.ttf);
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: Rubik;
}
.main-page {
  display: flex;
  flex-wrap: wrap;
}
.sl {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.slick-next,
.slick-prev {
  display: none !important;
}
.main-page__container {
  width: 33.33%;
  height: 25vh;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  transition: 0.8s;
  z-index: 10;
}
.main-page__container a {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.main-page__container a.category {
  font-size: 24px;
}
.main-page__container a.title {
  font-size: 24px;
}
.main-page__container.bg-color {
  display: flex;
}
.main-page__container__wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.main-page__container__point {
  width: 65%;
}
.main-page__container__img {
  align-self: center;
  width: 25%;
}
.main-page__container__img img {
  margin: auto;
}
.main-page__container__wrap {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.main-page__container a.category {
  font-size: 24px;
  margin-bottom: 5%;
  display: block;
}
.subcategory,
.main-page__container__img {
  display: none;
}
.main-page__container.bg-color:hover .subcategory {
  display: block;
}
.main-page__container.bg-color:hover .main-page__container__img {
  display: block;
}
.main-page__container.bg-color:nth-child(odd):hover {
  background: #f44242;
  transition: 0.8s;
}
.main-page__container.bg-color:nth-child(even):hover {
  background: #4285f4;
  transition: 0.8s;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: 1s;
}
.nav-menu .nav-menu__point a {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}
.main-page__container.search {
  display: flex;
  justify-content: flex-end;
}
.main-page__container.footer {
  position: relative;
}
.text {
  position: absolute;
  bottom: 10%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.4);
}
.copyright {
  right: 10%;
}
.mobile-menu svg {
  cursor: pointer;
}
.menu {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  width: 100%;
  top: 2%;
}
a.menu-point.s-ch {
  position: absolute;
  right: 5%;
}
span#mobile-menu {
  position: absolute;
  right: 2%;
}

.menu img {
  width: 32px;
  height: 32px;
  padding: 5px;
  margin-right: 15px;
}

#nav-menu.show .nav-menu__point {
  width: 100%;
  text-align: center;
}
#nav-menu.show a {
  padding: 10px;
}

.open {
  display: block;
  transition: 1s;
}

nav#nav-menu.show a {
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #34363b;
}
#nav-menu.show .nav-menu__point {
  width: 100%;
}
.search-menu {
  display: none;
  width: 100%;
  height: 100vh;
  background: #ffffffeb;
  top: 0;
  right: 0;
  left: 0;
}
.search-field {
  display: flex;
  text-align: center;
  width: 60%;
  margin: 20% auto;
}

.search-menu.active {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  font-size: 18px;
  z-index: 99;
}
input#search-field {
  width: 60%;
  top: 45%;
  position: absolute;
}
.search-action {
  text-align: center;
  width: 100%;
  background: red;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
input {
  border: none;
  color: #34363b;
  border-bottom: 1px solid rgba(52, 54, 59, 0.2);
  background: transparent;
}
input::placeholder {
  text-align: left;
  padding: 15px 0 15px 0;
}
input:active,
input:hover,
input:focus {
  outline: 0;
  outline-offset: 0;
}
.show {
  display: none;
}
.show.active {
  width: 33.3%;
  position: absolute;
  z-index: 999;
  background: #fffffff0;
  top: 0;
  right: 0;
  height: 100vh;
  display: block;
}
.close {
  display: none;
  cursor: pointer;
}
.active.close {
  display: block;
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 99999;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  position: relative;
  top: 35%;
}
.wrap .nav-menu__point {
  width: 100%;
  margin-bottom: 10%;
}
.wrap .nav-menu__point a {
  text-decoration: none;
  font-size: 24px;
  color: #34363b;
}
.wrap .nav-menu__point a:hover {
  color: #f44242;
  border-bottom: 2px solid #f44242;
}
.main-page__container.mobile {
  display: none;
}

@media (max-width: 1200px) {
  .main-page__container {
    padding: 10px;
  }
  .nav-menu .nav-menu__point a {
    font-size: 10px;
  }
}
@media (max-width: 900px) {
  .main-page__container a.category {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .show.active {
    width: 100%;
    position: fixed;
  }
  .search-menu.active {
    position: fixed;
  }
  .main-page__container {
    width: 100%;
  }
  .nav-menu {
    display: none;
  }
  .main-page__container:nth-child(2),
  .main-page__container:nth-child(3) {
    display: none;
  }
  .main-page__container.bg-color .main-page__container__img {
    display: block;
  }
  .main-page__container.bg-color:nth-child(odd) {
    background: #f44242;
    transition: 0.8s;
  }
  .main-page__container.bg-color:nth-child(even) {
    background: #4285f4;
    transition: 0.8s;
  }
  ul.subcategory {
    display: flex;
    justify-content: center;
  }
  .main-page__container img {
    margin: auto;
    position: relative;
    top: 40%;
  }
  a.menu-point.s-ch {
    left: 2%;
    position: fixed;
  }
  span#mobile-menu {
    right: 2%;
    position: fixed;
  }
  .main-page__container a.category {
    font-size: 16px;
    margin: 10px auto;
  }
  .main-page__container__wrap {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
  }
  .main-page__container__point {
    width: 100%;
    text-align: center;
  }
  .main-page__container.bg-color:hover .subcategory {
    display: flex;
    justify-content: center;
  }
  li.subcaegory__point {
    width: 45%;
  }
  .main-page__container__img {
    align-self: center;
    width: 100%;
    order: -1;
  }
  .main-page__container.footer {
    display: none;
  }
  a#up {
    font-size: 14px;
    color: #34363b;
    text-align: center;
    display: block;
    padding: 5%;
    width: 100%;
  }
  a#up img {
    margin-bottom: 2%;
  }
  .main-page__container.mobile {
    display: flex;
    text-align: center;
    height: 15vh;
    flex-wrap: wrap;
    align-items: center;
  }
  .footer-mobile {
    width: 100%;
    padding: 2%;
  }
  .main-page__container.mobile.end {
    background: #f5f6f7;
    font-size: 12px;
  }
  .active.close {
    top: 5%;
    right: 5%;
    position: fixed;
  }
  .slick-slide img {
    display: block;
    height: 25vh;
    object-fit: cover;
  }
}
@media (max-width: 643px) {
}
